<app-navbar></app-navbar>

<section class="container-fuild wrapper search_hotel">
	<div class="container">
		<div class="row">
			<div class="search_options block left_content">
				<div class="title">
					<h3>Filter By </h3>
				</div>
				<div class="body_">
					<form class="ui form">

					  	<div class="field property_type">
						    <label class="title_label">Property Type</label>

						    <div *ngFor="let pt of property_type; let i = index; " class="ui checkbox">
							  	<input type="checkbox" name="{{pt.ptype_name}}" id="{{pt.ptype_name}}" [checked]="pt.checked" (change)='onCheckboxChange(pt.ptype_id, i)'>
								

							  	<label for="{{pt.ptype_name}}">{{pt.ptype_name}}</label>
							</div>
							 
					  	</div>    

					  	<div class="field city">
						    <label class="title_label">City</label>
							<select>
						      	<option value="">Select City</option>
						      	<option value="1">Colombo</option>
						      	<option value="2">Kandy</option>
						      	<option value="3">Kandy</option>
						      	<option value="4">Galle</option>
						    </select>
						    
					  	</div>

					  	<!-- <div class="field activities">
						    <label class="title_label">Activities</label>

						    <div class="ui checkbox">
							  	<input type="checkbox" name="example">
							  	<label>White Water Rafting</label>
							</div>
							<div class="ui checkbox">
							  	<input type="checkbox" name="example">
							  	<label>Surfing</label>
							</div>
							<div class="ui checkbox">
							  	<input type="checkbox" name="example">
							  	<label>Mountain Cycling Tour</label>
							</div>
							<div class="ui checkbox">
							  	<input type="checkbox" name="example">
							  	<label>Water Fall Abseiling</label>
							</div>
					  	</div> -->



					  	<p>More to be added ...</p>

					</form>
				</div>
					
				

				
			</div>
			<div class="hotel_list block mid_content ">
				<div class="title">
					<h2>{{title}}</h2>
					<h3>Search Results <a class="ui red circular label">{{result_length}}</a></h3>

					<span class="showing">Showing 25 results per page</span>
				</div>

				<div class="no_results" *ngIf="result_length == 0" >
					<h2>No Results found</h2>
				</div>
				
				<div *ngFor="let h of hotel" class="hotels block" routerLink="/hotel/{{h.hotel_id}}"> 
					<div class="img img1"  [ngStyle]="{'background-image':'url(' + fm +''+ h.image_url + ')'}">
						
					</div>
					<div class="body_">
						<h3>{{h.hotel_name}}</h3>
						<span class="location"> <i class="icon-location"></i> {{h.city}} </span>
						<p>{{h.hotel_desc}}</p>
					</div>
					<div class="services_offer">
						<ul>
							<li><i class="icon-wifi"></i></li>
							<li><i class="icon-parking-sign"></i></li>
							<li><i class="icon-dining-rooms"></i></li>
							<li><i class="icon-car"></i></li> 
							
						</ul> 
					</div>
				</div> 

				<ng-masonry-grid class="col-md-12 "
                    [masonryOptions]="{ transitionDuration: '0.0s', gutter: 5,  itemSelector: 'ng-masonry-grid-item', percentPosition: true}" 
                    [useAnimation]="false"
                    [useImagesLoaded]="false" 
                    [scrollAnimationOptions]="{ animationEffect: 'none', minDuration : 0.4, maxDuration : 0.7 }">
			      
			      <ng-masonry-grid-item id="{{'masonry-item-'+i}}" *ngFor="let item of ads; let i = index;"  > 
			         <a class="slide thumbnail fancybox slide" data-fancybox="gallery" href="{{gallery_url}}{{ item.img_url }}">
			        	<img src="{{fm}}thumb/{{ item.img_url }}" alt="No image" />
			         </a>
			      </ng-masonry-grid-item>
			    </ng-masonry-grid>  

				

			</div>
			<div class="adds_content block right_content">
				<div class="title">
					<h3>Publish Your Advertisement</h3>   
				</div>
				<app-ads></app-ads> 
			</div>
		</div>
	</div>
	
</section>

<app-footer></app-footer>

