<app-navbar></app-navbar>

<section class="container-fuild wrapper search_hotel">
	<div class="container">
		<div class="row">
			<div class="search_options block left_content col-md-3">
				<div class="title">
					<h3>Filter By </h3>
				</div>
				<div class="body">
					<form class="ui form">

					  	<div class="field property_type">
						    <label class="title_label">Property Type</label>

						    <div class="ui checkbox">
							  	<input type="checkbox" name="example">
							  	<label>Hotels</label>
							</div>
							<div class="ui checkbox">
							  	<input type="checkbox" name="example">
							  	<label>Apartments</label>
							</div>
							<div class="ui checkbox">
							  	<input type="checkbox" name="example">
							  	<label>Villas</label>
							</div>
							<div class="ui checkbox">
							  	<input type="checkbox" name="example">
							  	<label>Chalet</label>
							</div>
					  	</div>    

					  	<div class="field city">
						    <label class="title_label">City</label>
							<select>
						      	<option value="">Select City</option>
						      	<option value="1">Colombo</option>
						      	<option value="2">Kandy</option>
						      	<option value="3">Kandy</option>
						      	<option value="4">Galle</option>
						    </select>
						    
					  	</div>

					  	<div class="field activities">
						    <label class="title_label">Activities</label>

						    <div class="ui checkbox">
							  	<input type="checkbox" name="example">
							  	<label>White Water Rafting</label>
							</div>
							<div class="ui checkbox">
							  	<input type="checkbox" name="example">
							  	<label>Surfing</label>
							</div>
							<div class="ui checkbox">
							  	<input type="checkbox" name="example">
							  	<label>Mountain Cycling Tour</label>
							</div>
							<div class="ui checkbox">
							  	<input type="checkbox" name="example">
							  	<label>Water Fall Abseiling</label>
							</div>
					  	</div>



					  	<p>More to be added ...</p>

					</form>
				</div>
					
				

				
			</div>
			<div class="hotel_list block mid_content col-md-6">
				<div class="title">
					<h3>Search Results <a class="ui red circular label">2</a></h3>

					<span class="showing">Showing 25 results per page</span>
				</div>
				
				<div class="hotels block" routerLink="/hotel/18753"> 
					<div class="img img1">
						
					</div>
					<div class="body">
						<h3>Pan Pacific Colombo</h3>
						<span class="location"> <i class="icon-location"></i> Colombo </span>
						<p>The 5-star Pan Pacific Singapore provides direct access to Marina Square Mall and Suntec Convention Centre.</p>
					</div>
					<div class="services_offer">
						<ul>
							<li><i class="icon-wifi"></i></li>
							<li><i class="icon-parking-sign"></i></li>
							<li><i class="icon-dining-rooms"></i></li>
							<li><i class="icon-car"></i></li> 
							
						</ul> 
					</div>
				</div> 

				<div class="hotels block "> 

					<div class="img img3">
						
					</div>
					
					<div class="body">
						<h3>City Lake Residence by Sunrise</h3>
						<span class="location"> <i class="icon-location"></i> Colombo 03</span>
						<p>The 5-star Pan Pacific Singapore provides direct access to Marina Square Mall and Suntec Convention Centre.</p>
					</div>
					<div class="services_offer">
						<ul>
							<li><i class="icon-wifi"></i></li>
							<li><i class="icon-parking-sign"></i></li>
							<li><i class="icon-dining-rooms"></i></li>
							<li><i class="icon-car"></i></li> 
							
						</ul> 
					</div>
				</div>

			</div>
			<div class="adds_content block right_content col-md-3">
				<div class="title">
					<h3>Publish Your Advertisement</h3>  
				</div>
				
			</div>
		</div>
	</div>
	
</section>

<app-footer></app-footer>

