<section id="footer" class="footer container-fluid sb">
	<div class="container inner">
		<div class="row">
			<div class="col-md-4 block follow_us">
				<h3>Follow <span>Us</span></h3>
				<p>{{contact_details.follow_us}}</p>
				<ul>
					<li><a href=""><i class="icon-facebook"></i></a></li>
					<li><a href=""><i class="icon-google-plus"></i></a></li> 
				</ul>
			</div>
			<div class="col-md-4 block news">
				<h3>Latest <span>News</span></h3>
				<p>{{contact_details.latest_news}}</p>
			</div>
			<div class="col-md-4 block contact_us">
				<h3>Contact <span>Us</span></h3>
				<ul>
					<li><i class="icon-location"></i> {{contact_details.address}} </li>
					<li><i class="icon-phone"></i> {{contact_details.tel}} </li>
					<li><i class="icon-mobile"></i> {{contact_details.mobile}} </li> 
					<li><i class="icon-envelope"></i> {{contact_details.email}}  </li>
				</ul>
			</div>
		</div> 
		<div class="row">
			<div class="col-md-12 copyright">
				<p>&copy; 2018 All Rights Reserved.</p>
			</div>
		</div>
		
	</div>
</section>