@import '../../assets/sass/main';

.view_hotel{

	.left_content.hotel{
		padding: 50px 0;

		.hotel_main_details{ 
			overflow: hidden;  

			.main_img{
				width: $hotel_img_width;
				height: $hotel_img_width;
				background: #eee;
				float: left;
				float: left;
			    background-image: url(../../assets/images/properties1.jpg);
			    background-size: cover;
			    border: 1px #d1d1d1 solid;
			    border-radius: 4px;
			}

			.hotel_details{
				float: left;
				@include calc('width', '100% -  '+$hotel_img_width);
				padding: 0 30px; 


				h2{
					margin-bottom: 0;
					font-size: $heading_font_size - 3;
				}

				.hotel_contact_details{
					margin-top: 10px;

					ul{
						padding: 0;

						li{
							font-size: $font_size - 1;
							list-style: none;

							i{
								margin-right: 10px;
								color: $base_color;
							}
						}
					} 
				} 

				.desc{
					h3{
						font-size: $font_size + 1;
						margin-top: 20px;
    					display: block;
					}
					p{
						font-size: $font_size - 1;
					}
				}

			}
		}

		.hotel_sub_details{ 
    		margin-top: 30px; 
    		width: 100%;
    		overflow: hidden; 

			.nav-tabs{
				border-bottom: 0;	 

				.nav-link{
					color: #111;

					&.active{
						font-weight: 500;
					}
				}
 
			 
			}
    		.tab-content{
    			border-top: 1px solid #dee2e6;

    			.tab-pane{ 
    				margin: 30px 0;
    				overflow: hidden;

    				.camera_wrap{
    					padding: 0 60px;
    				}
    			}
    		}
			

    		.block.sub{ 
    			font-size: $font_size - 1;
    			margin-bottom: 25px;

    			&.payment{
    				ul{
    					li{
    						i{
    							font-size: 25px;
							    vertical-align: middle;
							    margin-right: 5px;
    						}
    					}
    				}
    			}

    			&.services{
    				ul{
    					li{
    						i{
    							font-size: 20px;
							    vertical-align: middle;
							    margin-right: 5px;
    						}
    					}
    				}
    			}
 

    			h3{
					font-size: $heading_font_size - 8;  

					i{
	    				background: $base_color;
	    				width: 40px;
					    height: 40px;
					    vertical-align: middle;
					    display: inline-flex;
					    color: #fff;
					    font-size: 25px;
					    justify-content: center;
					    align-items: center;
					    border-radius: 50%;
					    margin-right: 5px;
	    			}
    			}

    			ul{
    				padding-left: 50px;
    				margin-bottom: 0;
    				overflow: hidden;


    				li{
						float: left; 
						width: 25%;
						list-style: none;
						margin-bottom: 10px;

						&.disabled{
							opacity: 0.25;
						}
    				}
    			}

    		}
		}

	}

	.adds_content {   
		background: #efeded;
   	 	border: 1px #eee solid;

		h3{
			text-align: center;  
			padding: 15px 0;
		    font-size: $heading_font_size - 7;  
		    background: #d8d8d8;
		    margin: 0 -15px;
		    margin-bottom: 20px;

		}

		
	}

}


:host ::ng-deep  app-hoteldata{

	.header{
		display: none;
	}
	 
}