<app-navbar></app-navbar>
<section class="container-fuild wrapper view_hotel">
	<div class="container">
		<div class="row">
			<div class="hotel left_content col-md-9">
				
				<div class="hotel_main_details">
					<div class="main_img">
						
					</div>
					<div class="hotel_details">
						<h2 class="title">Pan Pacific Hotel - Colombo</h2>

						<div class="hotel_contact_details">
							<ul>
								<li class="location">
									<i class="icon-location"></i>Pan Pacific Hotel Colombo, Galle Road, Colombo 01, Sri Lanka,
								</li>
								<li class="phone">
									<i class="icon-phone"></i>(+94) 11 123 4567 / (+94) 11 123 4568 </li>
								<li>
									<i class="icon-envelope"></i>
									info@pan-pacific-colombo.com
								</li>
								<li>
									<i class="icon-world"></i>
									http://pan-pacific-colombo.com
								</li>
							</ul>
					 
						</div> 

						<div class="desc"> 
							<h3>About Hotel</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, totam earum obcaecati eos laudantium assumenda magnam iure libero blanditiis, asperiores alias dolores eius cum eaque! Voluptate fugiat, odio totam sunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi accusantium ullam necessitatibus perspiciatis temporibus aliquam omnis veritatis non eum amet quam officia recusandae iure dolores architecto ad nesciunt, quae quis.</p>
							 
						</div>

						
					</div>

				</div>


				<div class="hotel_sub_details">

					<ul class="nav nav-tabs" id="hotelDetail" role="tablist">
				  		<li class="nav-item">
				    		<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Hotel Facilities</a>
				  		</li>
				  		<li class="nav-item">
				    		<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Gallery</a>
				  		</li> 
					</ul>

					<div class="tab-content" id="myTabContent">
				  		<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

				  			<div class="block sub">
								<h3> 
									<i class="icon-sleeping-bed"></i> Room Types
								</h3>

								<ul>
									<li>Superior Queen Room</li>
									<li>Triple Room</li>
									<li>Deluxe Double Room Garden View</li>
									<li>Deluxe Room with Balcony</li>
								</ul>
							</div>
							<div class="block sub services">
								<h3><i class="icon-serving-lunch"></i> Services</h3> 
								<ul>
									<li><i class="icon-calendar2"></i> Online Reservation</li>

									<li><i class="icon-wifi"></i> Free Wifi</li> 
									<li><i class="icon-dining-rooms"></i> Restaurents</li> 
									<li><i class="icon-serving-lunch"></i> Buffet</li>
									<li><i class="icon-parking-sign"></i> Parking</li><li><i class="icon-swimming"></i> Pool</li>
									<li><i class="icon-beach"></i> Beach</li>
									<li  class="disabled"><i class="icon-lotus"></i> Spa</li>
									<li><i class="icon-holidays"></i> Family Friendly</li>
									<li><i class="icon-air-conditioner"></i> Airconditioned Rooms</li> 
									<li><i class="icon-glass-and-bottle-of-wine"></i> Bar</li>
									<li class="disabled"><i class="icon-dog-pawprint"></i> Pets Allowed</li>
									<li><i class="icon-car"></i> Airport Shuttle</li> 
									<li><i class="icon-hours-support"></i> 24-Hour Front Desk</li> 
									
								</ul>
							</div>
							<div class="block sub payment">
								<h3><i class="icon-visa-logo"></i> Cards Accepted</h3> 
								<ul>
									<li><i class="icon-visa-logo"></i> Visa</li> 
									<li><i class="icon-mastercard"></i> Master Card</li>   
									<li class="disabled"><i class="icon-amex"></i> Amex</li> 
								</ul>
							</div>

				  		</div>
				 		<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">	

				 		 	<div class="camera_wrap">
							    <div data-src="../../assets/images/properties4.jpg"  data-thumb="../../assets/images/properties4.jpg" ></div>
							    <div data-src="../../assets/images/properties2.jpg"  data-thumb="../../assets/images/properties2.jpg"></div>
							    <div data-src="../../assets/images/properties3.jpg"  data-thumb="../../assets/images/properties3.jpg"></div>
							</div>

				 		</div> 
					</div>  
				</div>

			</div>
			<div class="adds_content right_content col-md-3">
				<h3>Publish Your Advertisement</h3>
			</div>
		</div>
	</div>
	
</section>

<app-footer></app-footer>