


<div *ngIf="isDashboard" class="container-fluid dashbaord">
	<!-- <div class="ui active dimmer" *ngIf="!isLoaded">
    	<div class="ui loader"></div>
  	</div> -->

	<div class="header">
		
	</div>
	<div class="content_wrapper">  
		<div class="nav_content">
			<app-nav></app-nav>
		</div>
		<div class="right_content">  
			<div class="right_content_inner"> 
				<router-outlet ></router-outlet>
			</div>
		</div>
	</div>
	
</div>
 
<bootstrap-growl [alertCount]="" [autoClose]="10000"></bootstrap-growl>
<router-outlet *ngIf="!isDashboard">
	<div class="loader_screen">
		<img src="assets/images/loader.svg" alt="">
	</div> 
</router-outlet>