@import '../../../assets/sass/main';

.stat_row{

	.stat_block{
		.stat_block_inner{
			background: #fff;
			padding: 25px;
			-webkit-box-shadow: 0px 1px 2px 0 rgba(178,178,178,0.4);
   	 		box-shadow: 0px 1px 2px 0 rgba(178,178,178,0.4);

   	 		i{
   	 			font-size: 70px;
   	 			line-height: 65px;
   	 			color: $base_color;
   	 			float: left;
   	 			 
   	 		}

   	 		.info{
   	 			@include calc('width', '100% - 70px');
   	 			float: left;
   	 			padding-left: 25px;

   	 			span{
   	 				display: block;

   	 				&.number{
	   	 				font-size: 40px;
	   	 				line-height: 40px;
	   	 			}

	   	 			&.title{ 
	   	 				color: #8f8f8f;
	   	 				font-weight: 500;
    					//font-size: 21px;
	   	 			}
   	 			}
   	 		}
		}
	}
}