	
	<div class="row stat_row">
		<div class="col-md-3 stat_block">
			<div class="stat_block_inner">
				<i class="icon-three-buildings"></i> 
				<div class="info">
					<span class="number">1,605</span>
					<span class="title">Total Hotels</span>
				</div> 
				<div class="clearfix"></div>
			</div> 
		</div>
		<div class="col-md-3 stat_block">
			<div class="stat_block_inner">
				<i class="icon-desktop-monitor"></i> 
				<div class="info">
					<span class="number">288</span>
					<span class="title">Total Advertisements</span>
				</div> 
				<div class="clearfix"></div>
			</div>  
		</div>
		<div class="col-md-3 stat_block">
			<div class="stat_block_inner">
				<i class="icon-dashboard"></i> 
				<div class="info">
					<span class="number">3</span>
					<span class="title">Todays Listing</span>
				</div> 
				<div class="clearfix"></div>
			</div>  
		</div>
		<div class="col-md-3 stat_block">
			<div class="stat_block_inner">
				<i class="icon-three-buildings"></i> 
				<div class="info">
					<span class="number">12</span>
					<span class="title">Unpublished Hotels</span>
				</div> 
				<div class="clearfix"></div>
			</div>  
		</div>
	</div>
	