@import '../../../../assets/sass/main';

ng-masonry-grid-item{
	width: 280px;
	float: left;
}
.view_hotel{

	.left_content.hotel{
		padding: 0 15px 50px 0;


		@include mobile(){
			padding: 0;
		}

		.hotel_main_details{ 
			overflow: hidden; 
			padding: 25px;
		    border: 1px #dcdcdc solid;
		    box-shadow: 0px 1px 2px 0 rgba(178,178,178,0.4);
		    background: #fff;
		    position: relative;

		    @include mobile(){
				padding: 15px;
			}

			$hotel_img_width : 200px;

			.main_img{
				width: $hotel_img_width;
				height: $hotel_img_width;
				background: #eee;
				float: left;
				float: left; 
			    background-size: cover;
			    border: 1px #d1d1d1 solid;
			    border-radius: 50%;

			    @include tablet(){
					width: $hotel_img_width / 2;
					height: $hotel_img_width / 2;
				 
				}


				@include mobile(){
					width: ($hotel_img_width / 2) * 1.5;
					height: ($hotel_img_width / 2) * 1.5;
					margin: auto;
					float: none;
					margin-bottom: 30px;
				 
				}
			}

			.hotel_details{
				float: left;
				@include calc('width', '100% -  '+$hotel_img_width);
				padding: 0 10px 0 30px; 

				@include tablet(){
					@include calc('width', '100% -  '+$hotel_img_width / 2);
				 
				}

				@include mobile(){
					width: 100%;
					padding: 0;
				 
				}

				span.property_type{
					padding: 3px 20px;
					background: $base_color;
					position: absolute;
					right: 0;
					color: #fff;
					display: none;
				} 

				button.book_now{
					float: right;

					@include tablet(){
						display: none;
					}

					@include mobile(){
						display: none;
					}
				}

				h2{
					margin-bottom: 0;
					font-size: $heading_font_size - 3;
					
					@include mobile(){
						font-size: $heading_font_size - 6;
						margin-bottom: 10px;
					}

				}
				
				p.location{
					margin-top: 2px;

					i{
						margin-right: 3px;
						color: $base_color;
					}
				}

				&.contact{
					@include tablet(){
						width: 100%;
						padding: 0;	
					}

					@include custom-width(1024px, 1300px){
						width: 100%;
						padding: 0;	
					}
				}

				.hotel_contact_details{
					margin-top: 25px;
					

					ul{
						padding: 0;
						display: flex;

						@include mobile(){
							display: block;
						}

						li{
							font-size: $font_size;
							line-height: $font_size + 8 ;
							list-style: none;
							width: 100%;
							border-left: 1px #eaeaea solid;
							padding: 0 12px;

							&:last-child{
								border-right: 1px #eaeaea solid;

								@include mobile(){
									border: 0;

								}

							}

							@include mobile(){
								border: 0; 
								margin-bottom: 15px;
								padding: 0; 
							}

							span{
								display: block;
								text-align: center;


								@include mobile(){  
									text-align: left;
								}


								&.title{
									margin-bottom: 5px;
									font-weight: 600;

									@include mobile(){  
										margin-bottom: 0;
									}

								}

								&.info{
									@include mobile(){  
										padding-left: 30px;
									}
								}
							}

							i{
								margin-right: 4px;
								color: $base_color;
								position: relative;
    							top: 1px;
							}
						}
					} 
				} 

				.desc{
					h3{
						font-size: $font_size + 1;
						margin-top: 20px;
    					display: block;
					}
					p{
						font-size: $font_size;
					}
				}

			}
		} 
 
		.gallery{
			padding: 30px;
		    background: white;
		    margin-top: 50px;
		    box-shadow: 0px 1px 2px 0 rgba(178,178,178,0.4);
		    border: 1px solid #dee2e6;

		    .row_.title{

		    	h2{
					font-size: $font_size + 8;
					margin-bottom: 15px;
					float: left;
				}

				a.add_images{
					float: right;
					text-decoration: none;
				}

		    }

			
			 
			ngx-slick{
				padding: 0;
			} 

		}

		.hotel_sub_details{ 

    		margin-top: 30px; 
    		width: 100%;
    		overflow: hidden; 

			.nav-tabs{
				border-bottom: 0;	 

				.nav-link{
					color: #111;

					&.active{
						font-weight: 500;
					}
				}
 
			}
    		.tab-content{
    			border: 1px solid #dee2e6;
			    background: white;
			    padding: 0 20px;

    			.tab-pane{ 
    				margin: 30px 0;
    				overflow: hidden;

    				.camera_wrap{
    					padding: 0 60px;
    				}
    			}
    		}
			

    		.block.sub{ 
    			font-size: $font_size - 1;
    			margin-bottom: 25px;

    			&.payment{
    				ul{
    					li{
    						i{
    							font-size: 25px;
							    vertical-align: middle;
							    margin-right: 5px;
    						}
    					}
    				}
    			}

    			&.services{
    				ul{
    					li{
    						i{
    							font-size: 20px;
							    vertical-align: middle;
							    margin-right: 5px;
    						}
    					}
    				}
    			}
 

    			h3{
					font-size: $heading_font_size - 8;  

					i{
	    				background: $base_color;
	    				width: 40px;
					    height: 40px;
					    vertical-align: middle;
					    display: inline-flex;
					    color: #fff;
					    font-size: 25px;
					    justify-content: center;
					    align-items: center;
					    border-radius: 50%;
					    margin-right: 5px;
	    			}
    			}

    			ul{
    				padding-left: 50px;
    				margin-bottom: 0;
    				overflow: hidden;


    				li{
						float: left; 
						width: 33%;
						list-style: none;
						margin-bottom: 10px;
						font-size: $font_size;

						@include tablet(){
							width: 50%;
						 
						}

						@include mobile(){
							width: 100%;
						 
						}

						&.disabled{
							opacity: 0.25;
						}
    				}
    			}

    		}
		}

	}

	.adds_content {  
		background: #f9f9f9;
   	 	border: 1px #eee solid;

		h3{
			text-align: center;
			padding: 20px 0;
			font-size: $heading_font_size - 5;  

		}
	}

}