
<div class="header col-md-12">
     <h2>View Hotel - #{{hotelID}}</h2> 
     <span class="breadcrumb_nav">Home > View Hotel</span>
     <div class="row_ btn_row">
     	<button class="ui submit button green" routerLink="/admin/hotel/add-hotel" ><i class="icon-add-button"></i> Create New Hotel</button> 

     	<button class="ui submit button  right" routerLink="/admin/hotel/view-hotel" ><i class="icon-list"></i> View Hotels List</button>
     </div>
</div>
 
<section class=" col-md-12 view_hotel">
 
	<div class="hotel left_content">
		
		<div class="hotel_main_details">
			<div class="main_img hotel_img">
				
			</div>
			<div class="hotel_details">
				<span class="property_type">Hotel</span> 

				<button class="ui button green book_now" *ngIf="!isAdmin">Book Now</button> 

				<button class="ui button blue book_now" *ngIf="isAdmin  && !isPublished" (click)="publishHotel(1)">Publish Hotel</button>

				<button class="ui button red book_now" *ngIf="isAdmin && isPublished" (click)="publishHotel(0)">Unpublish Hotel</button>

				<button class="ui submit button yellow float-right" (click)="editHotel()" *ngIf="isAdmin">
		     		<i class="icon-pencil-edit-button"></i> 
		     		Edit Hotel
		     	</button>

				<h2 class="title">{{hotel_details.hotel_name}} - {{hotel_details.city}}</h2>

				<p class="location">
					<i class="icon-location"></i>{{hotel_details.address}}
				</p>
				
				<div class="desc"> 
					<h3>About Hotel</h3>
					<p>{{hotel_details.hotel_desc}}</p> 
				</div>

				<div class="hotel_contact_details">
					<ul> 
						<li class="phone">
							<span class="title">
								<i class="icon-phone"></i> Contact Info
							</span>
							<span class="info">
								{{hotel_details.tel}} 
							</span>
							
						</li>
						<li>
							<span class="title">
								<i class="icon-envelope"></i> Email
							</span>
							<span class="info">
								{{hotel_details.email}} 
							</span>
						</li>
						<li>
							<span class="title">
								<i class="icon-world"></i> Website
							</span>
							<span class="info">
								{{hotel_details.website}} 
							</span>
						</li>
					</ul>
			 
				</div> 

				

				
			</div>

		</div>

		
		<div class="row">
			<div class="hotel_sub_details col-md-12">

				<ul class="nav nav-tabs" id="hotelDetail" role="tablist">
			  		<li class="nav-item">
			    		<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Hotel Facilities</a>
			  		</li>
			  		<li class="nav-item">
			    		<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Contact Details</a>
			  		</li> 
				</ul>

				<div class="tab-content" id="myTabContent">
			  		<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">


			  			<div class="block sub">
							<h3> 
								<i class="icon-sleeping-bed"></i> Room Types
							</h3>

							<ul *ngIf="room_types?.length >0">
								<li *ngFor="let rt of room_types" >{{rt.rt_name}}</li> 
							</ul>

							<ul *ngIf="room_types?.length == 0" >
								<li> No room types are specified</li>
							</ul>
						</div>
						<div class="block sub services">
							<h3><i class="icon-serving-lunch"></i> Services</h3> 
							<ul>
								<li *ngFor="let sl of service_list" [ngClass]="{'disabled': !sl.isActive}">
									<i class="{{sl.icon}}"></i> {{sl.name}}
								</li> 
								
							</ul>
						</div>
						<div class="block sub payment">
							<h3><i class="icon-visa-logo"></i> Cards Accepted</h3> 
							<ul>
								<li *ngFor="let cl of card_list" [ngClass]="{'disabled': !cl.isActive}">
									<i class="{{cl.icon}}"></i> {{cl.card_type}}
								</li> 
							</ul>
						</div>

			  		</div>
			 		<div class="tab-pane fade" id="profile" aria-labelledby="profile-tab">	 
			 			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt cumque sit aperiam tenetur nesciunt. Maiores doloribus consequuntur id, ipsa nesciunt praesentium obcaecati fugiat eos velit. Nobis quisquam laborum optio? Delectus?
			 		</div> 
				</div>  
			</div>

			
		</div>

		<div class="col-md-12 gallery">
				
				<div class="row_ title">

					<h2>Gallery</h2> 

					<a href="javascript:void(0)" class="add_images" (click)="addMoreImages()" *ngIf="isAdmin" > 
						<i class="icon-add-button"></i> 
						Add More Images
					</a>  

					<div class="clearfix"></div>
					
				</div>
				

				<ngx-slick *ngIf="masonryItems?.length > 0"  class="carousel deals_list col-md-12  hidden-xs" #slickModal="slick-modal" [config]="slideConfig"  >
			        <a ngxSlickItem *ngFor="let item of masonryItems" class="slide thumbnail fancybox slide" rel="ligthbox" href="{{ item.img }}">
			              <img src="{{ item.img }}" alt="" width="100%">
			        </a>
			    </ngx-slick>
			   <!--  <ng-masonry-grid class="col-md-12 "
                    [masonryOptions]="{ transitionDuration: '0.0s', gutter: 5 }" 
                    [useAnimation]="false"
                    [useImagesLoaded]="false" 
                    [scrollAnimationOptions]="{ animationEffect: 'none', minDuration : 0.4, maxDuration : 0.7 }">
			      
			      <ng-masonry-grid-item id="{{'masonry-item-'+i}}" *ngFor="let item of masonryItems; let i = index;" > 
			         
			        <img src="{{item.img}}" alt="No image" />
			      </ng-masonry-grid-item>
			    </ng-masonry-grid>   -->
					 		 	 

					 		 	<!--  You can now use ng-masonry-grid component in app.component.html -->
			</div>

		

	</div>
			
	
</section>
 