/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900');
 @import './assets/sass/_fonts.css';

/**{
    font-family: 'Poppins', sans-serif;
}*/

/*
   server-side-angular-way.component.css
*/
.no-data-available {
  text-align: center;
}

/*
   src/styles.css (i.e. your global style)
*/
 

 *{  }

.dataTables_wrapper .dataTables_filter input {
    margin-left: 0.5em;
    border: 1px #c6c6c6 solid;
    border-radius: 3px;
}

.dataTables_wrapper .dataTables_info{
	font-size: 12px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
	line-height: 15px;
    padding: 5px;
}

.dataTables_wrapper  a{
	text-decoration: none;	
	color: #5a5a5a;
}
.dataTables_wrapper  i{
	margin-right: 5px;	
}

.dataTables_wrapper  i.eye{
    font-size: 18px;
    position: relative;
    top: 2px;
}

table.data_exist .dataTables_empty{
  display: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    line-height: 10px;
    padding: 5px;
    font-size: 12px;
}


.ui.category.search .results{
  margin-top: 0px;
  width: 84%;
  border-radius: 0;
  box-shadow: none;
  border: 0; 
}


.ui.search>.results .result .title{
  font-size: 0.95rem;
  text-align: left;
}

/*.ui.category.search .results.transition.visible{
  height: 200px;
  overflow: scroll;
}
*/
body{
  background: #f9f9f9;
}

.padding0{
  padding: 0;
}

.container{
  max-width: 90%;
}


@media (max-width: 767px){
  .container{
    max-width: 100%;
  }

}

.hide{
  display: none !important;
}

.modal-dialog .modal-content .modal-header .close{ position:absolute; right:10px}
.modal-dialog .modal-content .modal-header h4.modal-title{ width:100%; text-align:left; font-size: 18px;}
.modal-dialog .modal-content .modal-header{ padding: 10px 15px; background: #e0e1e2; }