/* You can add global styles to this file, and also import other style files */
@import './assets/sass/_fonts.css';

/*
   server-side-angular-way.component.css
*/
.no-data-available {
  text-align: center;
}

/*
   src/styles.css (i.e. your global style)
*/
 

.dataTables_wrapper .dataTables_filter input {
    margin-left: 0.5em;
    border: 1px #c6c6c6 solid;
    border-radius: 3px;
}

.dataTables_wrapper .dataTables_info{
	font-size: 12px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
	line-height: 15px;
    padding: 5px;
}

.dataTables_wrapper  a{
	text-decoration: none;	
	color: #5a5a5a;
}
.dataTables_wrapper  i{
	margin-right: 5px;	
}

.dataTables_wrapper  i.eye{
    font-size: 18px;
    position: relative;
    top: 2px;
}

table.data_exist .dataTables_empty{
  display: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    line-height: 10px;
    padding: 5px;
    font-size: 12px;
}

body{
  background: #f9f9f9;
}

.padding0{
  padding: 0;
}

.container{
  max-width: 90%;
}

.hide{
  display: none !important;
}