@import '../../assets/sass/main';




section{
	overflow: hidden;

	&.sb{
		padding: 80px 0;
		background: #fff;
	}

	.title{
		text-align: center;

		h2{
			position: relative;

			&::before{
				content: '';
				width: 25px;
				height: 4px;
				background: $base_color;
				position: absolute;
    			bottom: -5px;
    			display: none;
			}

			span{
				text-transform: uppercase;
				color:  $base_color;
			}
		}
	}

	.content{
		padding: 50px 0;
		clear: both;

		.slick-dotted.slick-slider { 
		  padding-bottom: 30px;
		}
	}
}

section.slider_content{
	 
	@include background-image('../../assets/images/slider.jpg',55% 80%); 
	height: 500px;
	width: 100%; 
	position: relative;

	&::before{
		content: '';
		height: 100%;
		width: 100%;
		background: rgba(0, 0, 0, 0.5);
	    z-index: 100;
	    position: absolute;
	    top:0;
	    left: 0;
	}

	.inner{
		height: inherit;
		display: table;
		
		.search_form{
			position: relative;
			z-index: 101;
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			color: #fff;
			
			.title{

				h1{
					font-size: 45px;
					margin-bottom: 15px;
				}

				h3{ 
					margin-bottom: 25px;
					font-weight: 300;
				}
			}
			.field{
				max-width: 700px;
				margin: auto;

				button.search_btn{
					width: 120px;
					justify-content: center;
				}
			}
		}

	}

}

section.listings{

	.inner{

		.hotels.block{
			width: 300px; 
			border: 1px #e1e0e0 solid;
			border-radius: 5px;
			-webkit-box-shadow: 0 1px 2px 0 #b2b2b2;
    		box-shadow: 0 1px 2px 0 #b2b2b2;
    		float: left;
    		margin-right: 15px;
    		cursor: pointer;
    		margin-bottom: 5px; 
    		position: relative;
			@include transition-effect();


    		.featured{
    			position: absolute;
    			top: 0;
    			right: 0;
    		}

    		&:hover, &:focus{
    			border: 1px #21ba45 solid;
    			outline: 0;  
    			background: rgba(33, 186, 76, 0.03); 
    		}
			
			.img{
				width: 100%;
				height: 200px;
				background: #eee; 
				background-size: cover;
    			background-position: 50%;

    			&.img1{
					background-image: url('../../assets/images/properties1.jpg');
    			}

    			&.img2{
					background-image: url('../../assets/images/properties2.jpg');
    			}

    			&.img3{
					background-image: url('../../assets/images/properties3.jpg');
    			}
			}
			.body{
				padding: 15px;
				height: 140px;

				h3{
					font-size: 17px;
					margin-bottom: 0;

				}

				span.location{
					margin-bottom: 10px;
					display: block;
					font-size: $font_size - 2;


					i{
						vertical-align: middle;
						//color: $base_color;
					}
				}

				p{
					font-size: 12px;
    				line-height: 15px;
				}
			}

			.services_offer{
				padding: 3px 10px;
				border-top: 1px #eee solid;

				ul{
					padding-left: 0;
					margin: 0;

					li{
						list-style: none;
						display: inline-block;
						padding: 0px 5px;

						i{
							font-size: $font_size + 2;
						}
					}
				}
			}
		}	

	}
}

section.populer_city{
	background: #f5f5f5;

	.grid{  

		.grid_item { 
			 
			height: 270px;
			float: left;
			padding-right: 0;
			margin-bottom: 15px;

			.grid_item_inner{ 
				background: #eee; 
				@include viewport(100%, 100%);
				@include flexbox();
				justify-content: center; 
				background-size: cover; 
				position: relative;
				cursor: pointer;

				&:before{
					content: '';
					position: absolute;
					background: rgba(0, 0, 0, 0.37);
					left: 0;
					top: 0;
					@include viewport(100%, 100%);
					@include transition-effect();

				}

				&:hover{

					&:before{
						background: rgba(0, 0, 0, 0.7);
						@include transition-effect();
					}

				}

				.text_content{
					text-align: center;
					position: relative;
					color: #fff;

					h3{
						margin-bottom: 0;
						font-size: $font_size + 9;
					}
				}
			}

			&.grid-item--width2 {  
				
			}
		}

	}
}

section.deals{

	.deals_list{
		padding: 80px 0 30px 0;

		.deals_item{
			height: 200px;
			background: #eee;
			margin-right: 15px;
		}	
	}
}


