<section class="slider_content container-fluid">
	<div class="container inner">
		<div class="ui form search_form">
			<div class="title">
				<h1>Looking To Travel? </h1>
				<h3>Find Hotels, Villas to Enjoy your holiday.</h3>
			</div>
		  	<div class="field"> 
		        <div class="ui action search">
		            <input type="text" class="prompt" id="postalCode05"  placeholder="Search" (ngModelChange)="searchString($event)"  [(ngModel)]="search_txt"/>
		            <button class="ui green button search_btn" (click)="search()">Search</button>
		        </div>
 				 <div class="results results_container"></div>
		    </div>
		</div>
	</div> 
</section>
<section class="listings container-fluid sb">
	<div class="container inner">
		<div class="title">
		 	<h2>Most Populer <span>Hotels</span></h2>
		 	<p>Find Hotels, Villas to Enjoy your holiday.</p>
		</div>

		<ngx-slick class="carousel content multiple-items hotel_list" #slickModal="slick-modal" [config]="slideConfig"  >

	        <div ngxSlickItem *ngFor="let h of hotel" class="slide hotels block" routerLink="/hotel/{{h.hotel_id}}">
	              	<div class="featured" *ngIf="h.featured" >
						<svg preserveAspectRatio="xMidYMid meet" width="62" height="62" viewBox="0 0 62 62" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink">  

						  <polygon points="0,0 62,0 62,62" ng-attr-style="fill:[[fillColor]];stroke:[[strokeColor]];stroke-width:1" class="d-flag-shadow" style="fill:#4abf4a;stroke:#31A331;stroke-width:1"></polygon>
						  
						  <circle ng-if="flag != 'red'" cx="49" cy="13" r="5" style="stroke: #FFF; fill: none; stroke-width: 1px;" class="ng-scope"></circle> 

						    <text x="0" y="22" transform="translate(20) rotate(45 14,19)" style="fill:#fff;font-size: 11px;" class="ng-binding">Featured</text>

						  <svg ng-if="flag != 'red'" x="46" y="6" width="11" height="11" preserveAspectRatio="xMinYMin meet" viewBox="0 0 20 20" class="ng-scope">
						    <g inkscape:label="Layer 1" inkscape:groupmode="layer" id="layer1" transform="translate(-192.905,-516.02064)">
						        <path style="fill:#FFFFFF;" d="M 197.67968,534.31563 C 197.40468,534.31208 196.21788,532.53719 195.04234,530.37143 L 192.905,526.43368 L 193.45901,525.87968 C 193.76371,525.57497 194.58269,525.32567 195.27896,525.32567 L 196.5449,525.32567 L 197.18129,527.33076 L 197.81768,529.33584 L 202.88215,523.79451 C 205.66761,520.74678 208.88522,517.75085 210.03239,517.13691 L 212.11815,516.02064 L 207.90871,520.80282 C 205.59351,523.43302 202.45735,527.55085 200.93947,529.95355 C 199.42159,532.35625 197.95468,534.31919 197.67968,534.31563 z " id="path2223"></path>
						    </g>
						  </svg>
						</svg>
					</div> 
	            <div class="img img1"  [ngStyle]="{'background-image':'url(' + fm + '' + h.image_url + ')'}">  
					<span class="ptype" [ngStyle]="{'background':''+ h.ptype_color +''}"  >{{h.ptype_name}}</span>
				</div>
				<div class="body_">
					<h3>{{h.hotel_name}}</h3>
					<span class="location"> <i class="icon-location"></i> {{h.city}} </span>
					<p>{{h.hotel_desc}}</p>
				</div>
				<div class="services_offer">
					<ul>
						<li><i class="icon-wifi"></i></li>
						<li><i class="icon-parking-sign"></i></li>
						<li><i class="icon-dining-rooms"></i></li>
						<li><i class="icon-car"></i></li> 
						
					</ul> 

					
				</div>
	        </div>
	    </ngx-slick> 
		<button class="ui button green view_all" routerLink="/search-hotel" [queryParams]="{ hotels: 'all' }">View All Hotels</button>
	</div>
</section>

<section class="populer_city container-fluid sb">
	<div class="container inner">
		<div class="title">
		 	<h2>Most Populer <span>Cities</span></h2>
		 	<p>Find hotels in most populer cities in Sri Lanka</p>
		</div>
		<div class="grid row content">
		  	
		  	<div *ngFor="let c of cities" class="grid_item {{c.size}}"> 
				<div class="grid_item_inner"  [ngStyle]="{'background-image':'url(' + c.img_url + ')'}" routerLink="/search-hotel" [queryParams]="{ city: c.alias }">
					<div class="text_content"> 
			  			<h3>{{c.city}}</h3>
			  			<span>{{c.province}}</span>
					</div>
		  		</div>
		  	</div>

		   
		</div>
	</div>
</section>

<section class="deals container-fluid sb">
	<div class="container inner">
		<div class="title">
		 	<h2>Find Out For <span> Deals</span></h2>
		 	<p>Find hotels in most populer cities in Sri Lanka</p>
		</div>
	  
		<ngx-slick class="carousel deals_list  hidden-xs" #slickModal="slick-modal" [config]="slideConfig"  >
        <div ngxSlickItem *ngFor="let a of ads" class="slide">
        	<a class="fancybox" data-fancybox="gallery1" href="{{filepath}}{{a.img_url}}">
              <img src="{{filepath}}{{ a.img_url }}" alt="" width="100%">
            </a>
        </div>
    </ngx-slick>
	</div>
</section>

<app-footer></app-footer>

<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>
<script src="https://unpkg.com/slick-carousel@1.6.0/slick/slick.js"></script>
