


@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ux6bmn');
  src:  url('../fonts/icomoon.eot?ux6bmn#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ux6bmn') format('truetype'),
    url('../fonts/icomoon.woff?ux6bmn') format('woff'),
    url('../fonts/icomoon.svg?ux6bmn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-beach:before {
  content: "\e90e";
}
.icon-holidays:before {
  content: "\e91c";
}
.icon-swimming:before {
  content: "\e91d";
}
.icon-lotus:before {
  content: "\e91e";
}
.icon-world:before {
  content: "\e91f";
}
.icon-dog-pawprint:before {
  content: "\e90f";
}
.icon-no-smoking-sign:before {
  content: "\e910";
}
.icon-hours-support:before {
  content: "\e911";
}
.icon-serving-lunch:before {
  content: "\e912";
}
.icon-glass-and-bottle-of-wine:before {
  content: "\e913";
}
.icon-air-conditioner:before {
  content: "\e914";
}
.icon-van:before {
  content: "\e915";
}
.icon-amex:before {
  content: "\e916";
}
.icon-mastercard:before {
  content: "\e917";
}
.icon-visa-logo:before {
  content: "\e918";
}
.icon-icon:before {
  content: "\e919";
}
.icon-calendar2:before {
  content: "\e91a";
}
.icon-sleeping-bed:before {
  content: "\e91b";
}
.icon-car:before {
  content: "\e90a";
}
.icon-dining-rooms:before {
  content: "\e90b";
}
.icon-parking-sign:before {
  content: "\e90c";
}
.icon-wifi:before {
  content: "\e90d";
}
.icon-add:before {
  content: "\e907";
}
.icon-rubbish-bin:before {
  content: "\e908";
}
.icon-medal:before {
  content: "\e909";
}
.icon-upload:before {
  content: "\e900";
}
.icon-google-plus:before {
  content: "\e905";
}
.icon-facebook:before {
  content: "\e906";
}
.icon-user:before {
  content: "\e903";
}
.icon-padlock:before {
  content: "\e901";
}
.icon-calendar:before {
  content: "\e904";
}
.icon-envelope:before {
  content: "\e902";
}
.icon-phone:before {
  content: "\e942";
}
.icon-location:before {
  content: "\e947";
}
.icon-mobile:before {
  content: "\e958";
}
