
$base_color: #21ba45;
$font_size: 14px;
$hotel_img_width: 250px;
$heading_font_size: 25px;


/* Breakpoints */

$mobile-sm-width: 400px;
$tablet-width: 768px;
$desktop-sm-width: 1024px;
$desktop-width: 1200px;
