@import 'variables'; 
@import 'mixins';



.header{
	margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px #d9d9d9 solid;

    h2{
    	line-height: 22px;
    	font-size: 26px;
    	display: inline;
    }

    span.breadcrumb_nav{
    	display: inline;
    	float: right;
    	font-size: $font_size - 2;
    	margin-top: 7px;
    }

    .btn_row{
    	overflow: hidden;
    	margin-top: 20px;

        button{
            i{
                margin-right: 5px; 
            }
        }
    }
}

table.dataTable.no-footer{
	padding: 20px 0 0 0;
	margin-bottom: 10px;
	border-bottom: 1px solid #e5e5e5;
}

.dataTables_empty{
	display: none;
}

table.dataTable thead th, table.dataTable thead td{
	border-bottom: 1px solid #e5e5e5;
    background: #f0f0f0;
}


.modal-dialog{
    .modal-content{
        .modal-header{
            .close{
                position: absolute;
                right: 0;
            }

            h4.modal-title{
                width: 100%;
                text-align: left;
            }
        }
    }
}
